In [48]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
data = pd.read_csv('spam.csv')

In [50]:
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [52]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [53]:
data.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [54]:
X = data['Message']

Y = data['Category']

In [55]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [56]:
Y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

In [58]:
X_test.shape

(1672,)

In [59]:
X_train.shape

(3900,)

### Convert features into numerical values

In [60]:
feature_extraction = TfidfVectorizer(min_df=1, lowercase=True)

In [76]:
X_train_feature= feature_extraction.fit_transform(X_train)

X_test_feature = feature_extraction.transform(X_test)

Y_train_feature = feature_extraction.fit_transform(Y_train)

Y_test_feature = feature_extraction.fit_transform(Y_test)

In [62]:
X_train_feature

<3900x7262 sparse matrix of type '<class 'numpy.float64'>'
	with 52129 stored elements in Compressed Sparse Row format>

In [68]:
X_test_feature.shape

(1672, 4421)

In [77]:
X_test_feature.shape

(1672, 7262)

In [72]:
X_train_feature.shape

(3900, 7262)

In [64]:
print(X_train_feature)

  (0, 2281)	0.4340960024770616
  (0, 7161)	0.3972687593826659
  (0, 932)	0.32823722950423073
  (0, 260)	0.3757262031675023
  (0, 970)	0.33330110519970557
  (0, 3749)	0.31542417343096585
  (0, 3755)	0.2991990995072665
  (0, 5196)	0.3236142731938745
  (1, 5260)	0.5375963312925881
  (1, 4472)	0.4337828228174721
  (1, 6618)	0.6549543918323789
  (1, 4621)	0.30636153777642255
  (2, 6103)	0.3221150226904984
  (2, 6373)	0.12245285157146851
  (2, 1937)	0.39062493761283285
  (2, 5707)	0.21983704744607066
  (2, 7014)	0.28807980933787997
  (2, 4709)	0.24780486569818902
  (2, 5493)	0.28574342741889813
  (2, 890)	0.13371994391864034
  (2, 3180)	0.4451969326021484
  (2, 792)	0.2267693026234296
  (2, 1610)	0.39062493761283285
  (2, 2949)	0.1849081311409041
  (3, 2089)	0.5022086844211922
  :	:
  (3895, 4662)	0.1619291111072247
  (3895, 1470)	0.19824998880227065
  (3895, 7226)	0.1016284181554681
  (3896, 5944)	0.5485247337856575
  (3896, 3758)	0.5542360699545098
  (3896, 1486)	0.3957147536823354
  (3896, 3881)	0.48513176447732426
  (3897, 5948)	0.44641749433429984
  (3897, 5949)	0.44641749433429984
  (3897, 5021)	0.4337802935282666
  (3897, 2800)	0.3842002175270242
  (3897, 5271)	0.4071627632103983
  (3897, 3148)	0.3160161001565619
  (3898, 3582)	0.5547403398631443
  (3898, 4536)	0.4976365821891147
  (3898, 5660)	0.5303714519182342
  (3898, 6501)	0.40413748945848094
  (3899, 4389)	0.5033147833449906
  (3899, 5911)	0.43563762731097755
  (3899, 6272)	0.4511191997927358
  (3899, 5562)	0.3119727736435004
  (3899, 3611)	0.22963679394737646
  (3899, 3136)	0.27815936468126345
  (3899, 2137)	0.3018234555161507
  (3899, 3486)	0.186696156968391

In [65]:
model = LogisticRegression()

model.fit(X_train_feature, Y_train)

LogisticRegression()

### Model Evaluation

In [66]:
pred_on_testing =  model.predict(X_test_feature)
accuracy_on_testing_data = accuracy_score(Y_test, pred_on_testing)

print(accuracy_on_testing_data)

0.9700956937799043